{
  "notification": {
    "toAddress": "",
    "resend": {
      "apiKey": "",
      "from": ""
    }
  },
  "alwaysRedownloadImages": false,
  "getImageRefreshHours": 24,
  "repoUrl": "https://github.com/alissonsol/yuruna",
  "testVmNamePrefix": "test-",
  "cycleDelaySeconds": 30,
  "vmStartTimeoutSeconds": 120,
  "vmBootDelaySeconds": 15,
  "statusServer": {
    "port": 8080,
    "enabled": true
  },
  "maxHistoryRuns": 30,
  "charDelayMs": 20,
  "verifyScreenshotThreshold": 0.85,
  "guestOrder": ["guest.amazon.linux", "guest.ubuntu.desktop", "guest.windows.11"]
}
