{
  "alwaysRedownloadImages": false,
  "charDelayMs": 20,
  "cycleDelaySeconds": 30,
  "getImageRefreshHours": 24,
  "guestOrder": ["guest.amazon.linux", "guest.ubuntu.server"],
  "keystrokeMechanism": "GUI",
  "maxHistoryRuns": 30,
  "notification": {
    "failuresBeforeAlert": 2,
    "successesBeforeRearm": 5,
    "toAddress": ""
  },
  "repoUrl": "https://github.com/alissonsol/yuruna",
  "secrets": {
    "resend": {
      "apiKey": "",
      "from": ""
    }
  },
  "statusServer": {
    "enabled": true,
    "port": 8080
  },
  "stopOnFailure": false,
  "testVmNamePrefix": "test-",
  "verifyScreenshotThreshold": 0.85,
  "vmBootDelaySeconds": 15,
  "vmStartTimeoutSeconds": 120,
  "vncPort": 5900
}
