@page
@model IndexModel
@{
    ViewData["Title"] = "yrn42website-uxnname";
}

<div class="text-center">
    <h1 class="display-4">Welcome to yrn42website-uxname</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Get the code from <a href="https://bit.ly/asol-yrn">GitHub</a>.</p>
</div>
